body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* todo use css modules */
.App {
  text-align: center;
}

.productImage {
  width: 256px;
  height: 100%;
  object-fit: cover;
}

.productBorder {
  border: 2px solid gray;
  background: aliceblue;
}

.product {
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  justify-items: center;
}

.Application {
  margin: 0 10% 0 10%;
  width: 80%;
  box-shadow: 0 0 45px #dbdada;
  height: 100vh;
}

.searchProduct {
  width: 50%;
  margin-right: 2%;
  margin-left: 1%;
}

.inputPrice {
  width: 10%;
  margin-right: 1%;
}

.descriptionPrice {
  margin-left: 2%;
}

.productBlock {
  max-width: 300px;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
}

.logoShop {
  text-transform: uppercase;
  margin-left: 1%;
  color: #555;
  flex: 1 1;
}

.listItem {
  display: inline-block;
  opacity: .7;
  padding: 0 60px;
  text-transform: uppercase;
  color: #555;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  position: relative;
}

a:after {
  display: block;
  content: "";
  background-color: #095cd7;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
a:hover:after,
a:focus:after {
  width: 100%;
}
a:hover{
  color:#095cd7;
}

a:focus{
  color:#095cd7;
}

.header {
  min-height: 70px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.stringSearch {
  width: 100%;
  min-height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.nameUser {
  text-align: center;
  color: #555;
  float: left;
  margin-top: 13%;
}

.singleLineBlocks {
  float: left;
  width: 50%;
}

.dataUser {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 3%;
}

.userImage {
  margin-left: 50%;
  width: 200px;
  height: 200px;
  margin-top: 2%;
  border-radius: 100px;
  border: 4px solid #03429a;
  box-shadow: 0 0 7px #03429a;
}

.userImageSmall{
  margin-left: 50%;
  width: 64px;
  height: 64px;
  border-radius: 100px;
  box-shadow: 0 0 7px #03429a;
  float: right;
  margin-right: -5%;
  margin-bottom: 2%;
}

.userDescription {
  margin-left: 20%;
}

.purchaseHistory {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 7%;
}

.tablePurchaseHistory {
  border-collapse: collapse;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.tablePurchaseHistory td, th {
  border: 1px solid #a3a3a3;
}

.dataPurchase {
  text-align: center;
}

.nameColumn {
  font-weight: 700;
}

.loginInForm {
  width: 50%;
  margin: 5% 25% 25%;
  border: 3px solid #00165ead;
  padding: 20px 6px;
  border-radius: 20px;
}

.inputDataRegistration {
  width: 90%;
  font-size: 100%;
  color: #000000;
  margin: 3%;
  padding: 2%;
  border: 2px solid #00165ead;
}

.loginIn:hover {
  background: #1f65e5;
}

.loginIn:focus {
  background: #0358f6;
}

.loginIn {
  width: 30%;
  margin: 3%;
  padding: 2%;
  background: #4785fa;
}

.descriptionLogIn {
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
}

.textLogIn {
  text-transform: uppercase;
  margin: 5% 0% 5% 3%;
  font-weight: 600;
  font-size: 31px;
}

.buttonRegistration {
  margin-left: 24%;
  text-transform: uppercase;
  color: #ff802b;
  font-weight: 700;
  font-size: 20px;
}

.registrationButton:hover {
  background: #1f65e5;
}

.registrationButton:focus {
  background: #0358f6;
}

.registrationButton {
  width: 40%;
  margin: 3%;
  padding: 2%;
  background: #4785fa;
}

.products-layout {
  position: relative;
}

.wrapper-loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, 0.3);
  z-index: 1;
}


.loader {
  width: 100px;
  height: 100px;
}